[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=gbemi
Group=www-data
WorkingDirectory=/usr/share/nginx/html/test_ci_cd/
ExecStart=/usr/share/nginx/html/test_ci_cd/env/bin/gunicorn --workers 3 --log-level debug --error-logfile /usr/share/nginx/html/test_ci_cd/error.log --bind unix:/run/gunicorn.sock \ --capture-output --log-level debug\ demo.wsgi:application

[Install]
WantedBy=multi-user.target


[Install]
WantedBy=multi-user.target 